name: Publish Package to npmjs

on:
 release:
   types: [created]

jobs:
 build:
   runs-on: ubuntu-latest

   permissions:
     contents: read
     id-token: write

   steps:
    - name: Checkout source
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
    - name: Set up node
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        registry-url: 'https://registry.npmjs.org'
        cache: npm
    - name: Install NPM
      run: npm install -g npm@latest
    - run: npm ci
    - name: Release using shelljs in JS script
      run: |
       npm install shelljs
       cat <<EOT >> release.js
       var shell = require( "shelljs" );
       shell.echo("----- Releasing -----")
       shell.exec("npm publish --access public")
       shell.echo("----- End release -----")
       EOT
       node release.js
#     - name: Release using shelljs in JS script
#       run: npm publish --provenance --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
        NPM_CONFIG_PROVENANCE: true
